header {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin-top: 50px;
}
#grid-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 400px;
  margin: 50px auto;
}
.cell {
  width: 135px;
  height: 135px;
  border: 1px solid #333333;
  font-size: 60px;
  line-height: 140px;
}
section {
  text-align: center;
}
button {
  width: 200px;
  height: 40px;
  border: 1px solid black;
  border-radius: 4px;
  font-size: large;
  background-color: rgb(122, 190, 139);
  outline: none;
}
h2 {
  font-size: xx-large;
}
